.jumbotron {
    background-color: rgb(255,230,142);
    
}
.jumbotron > .container {
    background-color: rgba(255,255,255,0.5);
}

.jumbotron > .container > h1 {
    font-family: 'Bungee Shade', cursive;
    color: rgb(91,70,48);
}

.jumbotron > .container > p {
    font-family: 'Bungee', cursive;
    color: rgb(147,16,9);
}

.main {
    font-family: 'Bungee', cursive;
}

.left, .middle, .right {
    background-color: rgb(255,255,255);
    text-align: center;
    margin-bottom: 100px;
}

.left > p, .middle > p, .right > p {
    color: rgb(147,16,9);
}


.undevoured, .burger-adder, .devoured, .right > form {
    background-color: rgb(91,70,48);
    border-radius: 15px 15px 15px 15px;
    margin-bottom: 5px;
    color: rgb(227,190,66);
}

.burger-adder {
    padding-top: 10px;
}

input {
    border-style: none;
    color: rgb(147,16,9);
    background-color: rgb(178, 153, 126);
}

button {
    background-color: rgba(255,255,255,0.25);
    border-style: none;
    
}

.top-bun {
    background-color: rgb(255,230,142);
    height: 75px;
/*    width: 265px;*/
    border-radius: 265px 265px 40px 40px;
}

.bottom-bun {
    background-color: rgb(255,230,142);
    height: 75px;
/*    width: 265px;*/
    border-radius: 40px 40px 265px 265px;
}